<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
     <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
     <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
     <property name="hibernate.connection.url">jdbc:derby://localhost:1527/hibernate; create=true</property>
     <property name="hibernate.connection.username">admin</property>
     <property name="hibernate.connection.password">admin</property>
     <property name="hibernate.current_session_context_class">thread</property>
    
   <!-- Überschreibt die Tabellen neu-->
   <!-- <property name="hibernate.hbm2ddl.auto">create-drop</property> -->
    <property name="hibernate.show_sql">true</property>
    
    <mapping class="BL.Student"/>
    <mapping class="BL.Administrator"/>
    <mapping class="BL.Ausleihe"/>
    <mapping class="BL.Dozent"/>
    <mapping class="BL.Notebook"/>
    <mapping class="BL.Warteschlange"/>
    
  </session-factory>
</hibernate-configuration>
